<p class="link"> <%= link_to "Ask a new question", ask_path %> </p>
<p class="question"> <%= @question %> <%= "-You" %> </p>
<p class="answer"> <%= @answer %><% "\b\b" %> <%= "\b\b-Your coach" %></p>
