<div class="question-container">
  <p class="question"> <%= @question %> </p>
  <p class="question"> <em> <%= "-You" %> </em> </p>
</div>

<div class="answer-container">
  <p class="answer">
    <p class="answer"> <%= @answer %> </p>
    <p class="answer"> <em> <%= "-Your coach" %> </em> </p>
  </p>
</div>

<p class="link"> <%= link_to "Ask a new question", ask_path %> </p>
